<!DOCTYPE html>
<html>
  <head>
    <title>BillboardProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="/billboards"> Billboard</a>

    <a href="/artists"> Artists</a>

<a href="/songs"> Songs</a>
    
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
